/**
 * index.css'
 *
 * Style sheet.
 */



/* body */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}



/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 8px 32px;

    color: #ffffff;
    background-color: #2e7d32;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#header-title {
    flex-grow: 1;

    margin: 0;
    padding: 0;

    font-size: 24px;
}



/* player */
#controls {
    flex: none;
    width: 480px;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 4px;
}

.controls-button {
    flex: none;

    margin: 4px;
    padding: 4px;

    color: #2e7d32;
    background-color: #ffffff;
    line-height: 0;
    border: none;
    outline: none;
    border-radius: 16px;
}
.controls-button[disabled] {
    opacity: 0.4;
}
.controls-button:hover:not([disabled]) {
    background-color: #e8f5e9;
}

#controls-track {
    flex-grow: 1;

    display: block;
    margin: 0 16px;
    padding: 0;
}

#controls-name {
    max-width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: block;
    margin: 0;
    padding: 4px 0;

    font-size: 12px;
}

#controls-progress {
    height: 2px;

    margin: 4px 0;
    padding: 0;

    background-color: #005005;
}

#controls-currenttime {
    height: 100%;

    background-color: #60ad5e;
}



/* library */
#content {
    box-sizing: border-box;
    margin: 32px;
    margin-top: 96px;
    padding: 0;
}

#library-title {
    margin: 16px 0;
    padding: 0;

    font-size: 18px;
}

#library {
    width: 960px;
    overflow: hidden;

    margin: 0;
    padding: 0;

    border-top: 1px solid rgba(0,0,0,0.25);
}

.music {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 14px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.25);

    cursor: default;
}
.music:hover {
    background-color: #e8f5e9;
}

.music-folder {
    margin-left: -140px;
    padding-left: 140px;

    font-weight: bold;
}

.music-folder-contents {
    padding-left: 14px;
}

.music-file {
    margin-left: -140px;
    padding-left: 168px;
}

.music-title {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.music-button {
    flex: none;
    margin: 2px;
    padding: 0;

    color: #000000;
    background: none;
    opacity: 0.5;
    line-height: 0;
    border: none;
    outline: none;
}
.music-button:hover {
    opacity: 1.0;
}
.music-button:active {
    opacity: 1.0;
    color: #2e7d32;
}

.music-description {
    flex: none;
    margin: 0 8px;

    font-size: 12px;
    opacity: 0.5;
}
